// Typography
$raleway: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;

//colors
$lightblack: #636b6f;
$white: white;
$darkblue: #3f51b5;
$lightblue: #40bcff;// #338fff;
$lightgrey : lightgrey;
$grey : grey;
$green : #7cfc00;
$orange: #ffe200;
$red : #de0000;
